/* You can add global styles to this file, and also import other style files */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  background-color: #ecf9ff;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  height: 100%;
  width: 100%;
  background-image: url('assets/images/background-image.png');
}
